@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body,html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

video {
    height: 100%;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__listLeft {
    display: flex;
    flex-wrap: wrap;
}

.header__listItem {
    margin: 1rem
}

.header__listRight {
    display:flex;
    flex-wrap: wrap;
}

.stickyHeader {
    position: sticky;
    top: 0;
    display: flex;
    background: lightgray;
    transition: 0.5s;

}

.stickyHeader__link {
    padding: 1rem;
}

.heroContainer {
    display: flex;
    justify-content: center;
}

.heroContainer__heroImage {
    z-index: 0;
    position: relative;
}

.heroContainer__heroText {
    z-index: 1000;
    position: absolute;
    font-size: 100pt;    
    margin: auto;
    color: #ff764d;
}

.descriptionContainer {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    max-width: 40rem;
    min-height: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.collageContainer {
    display: flex;
    justify-content: space-evenly;
}

.collageContainer__deskImageContainer {
    padding: 2rem;
}

.collageContainer__imageContainer--Yellow {
    padding: 2rem;
    padding-left: 15rem;
    background-color: #fbffa7;
}

.videoContainer {
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 50rem;
}

.collageContainer__stackedImagesContainer--green {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #b6ffc0;
    padding: 2rem;
    padding-right: 5rem;
}

.collageContainer__whiteboardContainer {
    max-width: 40rem;
    min-height: 10rem;
}

.collageContainer__buildingContainer {
    max-width: 40rem;
    min-height: 10rem;
}

.collageContainer__StudioContainer {
    max-width: 40rem;
    min-height: 10rem;
}

.desktopImageContainer {
    display: flex;
    margin: auto;
    max-width: 50rem;
    min-height: 10rem;
}

.collageContainer__couchContainer {
    position: relative;
    max-width: 40rem;
    min-height: 10rem;
    z-index: 1000
}

.collageContainer__background--purple {
    background-color: #d5b3ff;
    position: relative;
    padding: 5rem;
    min-height: 10rem;
    max-width: 40rem
}

.collageContainer__laptopContainer {
    position: relative;
    max-width: 40rem;
    min-height: 10rem;
    z-index: 1000
}

.jobsCollageContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.jobsCollageContainer__conferenceImageContainer {
    padding: 10rem;
    max-width: 40rem;
    min-height: 10rem;

}

.jobsCollageContainer__descriptionContainer--purple {
    background-color: #b1c5ff;
    padding: 10rem;
}



.footer__bottomFooterBanner {
    display: flex;
    justify-content: space-between;
}

.footer__bottomFooterList--left {
    display: flex;
    justify-content: space-evenly;
}

.footer__bottomFooterList--right{
    display: flex;
    justify-content: space-evenly;
}

.footer__bottomFooterListItem {
    margin: 1rem;
}

